################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/GUI/bin/Debug
/code/GUI/obj/Debug
/code/.vs/Project/v15
/code/.vs/WindowsFormsApp2/v15
